.page-header
  %h1 Search
%form.form-search(method="get" action="/search")
  %input.search-query(type="text" name="q" placeholder="Name" autofocus=true)
  %button.btn(type="submit") Search

- if @q
  - if @search_user
    %h5 Name:
    %p#userName #{ @q }
    %h5 Zoobars:
    %p#userZoobars #{ @search_user.zoobars }
    %h5 Profile:
    %p= profile_sanitize(@search_user.profile)

  - else
    .alert
      No such user
